* {
    font: "JetBrainsMono NF Bold 9";
    background: #232136;
    bg-alt: #2a2740;
    background-alt: #232136E0;
    foreground: #e0def4;
    selected: #c3a5e6;
    active: #9bced7;
    urgent: #ea6f91;

    img-background: url("~/.config/bspwm/rices/cristina/rofi.webp", width);
}
